@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap");
body {
  background-color: black;
}

p {
  margin: 0.2rem;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: #f1f1f1;
  font-family: "Dosis", sans-serif;
}

h3 {
  color: #ffffff;
  font-family: "Dosis", sans-serif;
}

.main-title {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 0;
}
